.Grid {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    min-width: fit-content;
    min-height: fit-content;
    display: inline-flex;
    flex-direction: row;
  }
  
  .Column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  